<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div *ngIf="isLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black" [style.display-inside]="">
    <a class="navbar-brand" style="color:white;">Employee Manager App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/departments">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="handleLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
